<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PL4V8D9');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PL4V8D9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{!-- Nav bar that goes on every page --}}
    <nav id="navbar">
        <ul id="navbar-ul">
            <li>
                <p><a class="link" href="/">Home</a></p>
            </li>
            {{#if loggedIn}}
            <li>
                <p><a class="link" href="/dashboard">Dashboard</a></p>
            </li>
            <li>
                <p><button id="logout-btn" class="btn-no-style">Logout</button> </p>
            </li>

            {{else}}
            <li>
                <p><a class="link" href="/login">Login</a></p>
            </li>
            {{/if}}
        </ul>
        <h1 id="nav-header">The Tech Blog</h1>
    </nav>
    {{{body}}}

</body>
{{!--
<script src="/js/nav.js"></script> --}}
<script src="/js/logout.js"></script>
<script src="/js/home.js"></script>

</html>